__pycache__
.env
env
model_custom/
ner-training/**/*.tsv
ner-training/**/*.txt*
ner-training/**/*.json
ner-training/**/*.spacy
ner-training/**/*.conll
ner-training/resources
.DS_Store

ner-training/models/mitie/base/**/*.txt
ner-training/models/mitie/base/**/*.dat

ner-training/**/out/*
